<ion-content>
  <section class="ppal">

    <div class="title">
      <ion-img alt="logo" src="/assets/img/logo.png"></ion-img>
    </div>
    <div *ngIf="registrado" class="login">
      <input type="email" name="email" placeholder="Email" [(ngModel)]="email">
      <input type="password" name="password" placeholder="Contraseña" [(ngModel)]="password">
    <p button="true" class="login" (click)=login()>iniciar sesión</p>
    <p button="true" class="register" *ngIf="registrado" (click)=registrarse()>registrarse</p>
  </div>
  <div *ngIf="noReg" class="login">
    <input type="text" name="name" placeholder="Nombre" [(ngModel)]="name">
    <input type="text" name="surname" placeholder="Apellido" [(ngModel)]="surname">
    <input type="email" name="email" placeholder="Email" [(ngModel)]="email">
    <input type="password" name="password" placeholder="Contraseña" [(ngModel)]="password">
    <p button="true" (click)=crearCuenta()>CREAR CUENTA</p>
    <p button="true" class="register" (click)=changeLogin()>iniciar sesión</p>
  </div>
</section>
    

</ion-content>
