<ion-header>
  <ion-toolbar>
    <ion-title>plague</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar 
                   animated
                   placeholder="Buscar plaga"
                   (ionChange)="buscarPlaga($event)">
    </ion-searchbar>
  <ion-grid>
    <ion-row *ngFor="let plague of plagues | buscador: textoBuscador">
      <ion-card>
        <ion-card-header>
          <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>
                {{plague.name}}
              </ion-card-title>
            </ion-col>
          </ion-row> 
        </ion-grid>
        </ion-card-header>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
