<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="opinions" class="tabs">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label class="estilo">opiniones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="plague" class="tabs">
      <ion-icon name="bug-outline"></ion-icon>
      <ion-label class="estilo">plagas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login" class="tabs">
      <ion-label class="estilo">tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>